<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header active_login=true}}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index">Home</a>
            <span class="breadcrumb-item active">Login</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / Login</h1>
            <p><span class="field-name">Username</span> is 8-20 characters long, not contain any special character
                except _ and . (no _ or . at the beginning, or the end)</p>
            <p><span class="field-name">Password</span> must have more than 6 characters, contain at least 1 uppercase
                character, 1 lowercase character and 1 number</p>
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
            <div class="form">
                <form method="POST" action='/login' id="login-form">
                    <input name="username" placeholder="Enter Email / User Name" required
                        pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$">
                    <span class="required-star">*</span>

                    <input name="password" type="password" placeholder="Enter Password" required>
                    <span class="required-star">*</span>

                    <button class="btn black">Login</button>
                    <h5>not Registered? <a href="register">REgister here</a></h5>
                </form>
            </div>
        </div>
    </section>
    {{> footer}}

    {{> importJS}}
</body>

</html>