<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header}}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index">Home</a>
            <span class="breadcrumb-item active">Register</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / REgister</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <p class="text-danger" id="error-msg"></p>
            <div class="form">
                <form method="POST" action="/register" id="register-form">
                    <div class="form">
                        <div>
                            <input name="username" placeholder="Enter User Name" required pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$">
                            <span class="required-star">*</span>
                        </div>
                        <div>
                            <input name="password" type="password" placeholder="Password" required minlength="6">
                            <span class="required-star">*</span>
                        </div>
                        <div>
                            <input name="repeat-password" type="password" placeholder="Repeat Password" required minlength="6">
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <button class="btn black">Register</button>
                            <h5>Already have an Account? <a href="login">Login here</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {{> footer}}

    {{> importJS}}
</body>

</html>