<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><a href="#" class="web-url">www.bookstore.com</a></div>
                <div class="col-md-6">
                    <h5>Website được tạo ra cho mục đích học tập</h5>
                </div>
                <div class="col-md-3">
                    <span class="ph-number">Call : xxx xxxx xxx</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center">
                <a class="navbar-brand" href="/index"><img src="/assets/images/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
                    <div class="navbar-nav mr-auto">
                        <ul class="navbar-nav my-auto">
                            <li class="navbar-item {{#if active_home}}active{{/if}}">
                                <a href="/index" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item {{#if active_products}}active{{/if}}">
                                <a href="/products" class="nav-link">Products</a>
                            </li>
                            {{!-- <li class="navbar-item dropdown {{#if active_products}}active{{/if}}">
                                <a href="/products" class="nav-link dropdown-toggle-split"
                                    data-toggle="dropdown">Products</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item">Category #1</a></li>
                                    <li><a href="#" class="dropdown-item">Category #2</a></li>
                                    <li><a href="#" class="dropdown-item">Category #3</a></li>
                                </ul>
                            </li> --}}
                            <li class="navbar-item {{#if active_about}}active{{/if}}">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item {{#if active_faq}}active{{/if}}">
                                <a href="faq.html" class="nav-link">FAQ</a>
                            </li>

                        </ul>
                        <form class="form-inline d-flex align-items-center" action="/products">
                            <input name="q" class="form-control" type="search" placeholder="Search here..."
                                aria-label="Search">
                            <span class="fa fa-search text-secondary"></span>
                        </form>
                    </div>
                    <div class="cart my-2 my-lg-0">
                        <span>
                            <a href="/products/shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </span>
                        <span class="quantity" style="display: none;">0</span>
                    </div>
                    {{#if currentUser}}
                    <div class="dropdown navbar-nav">
                        <span class="dropdown-toggle-split" data-toggle="dropdown">
                            <i class="fa fa-user fa-lg"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <h6 class="dropdown-header">{{currentUser.username}}</h6>
                            <li><a href="#" class="dropdown-item">Your profile</a></li>
                            <li>
                                <form class="dropdown-item" action="/logout" method="POST">
                                    <input type="submit" value="Logout">
                                </form>
                                {{!-- <a href="/logout" class="dropdown-item">Sign out</a>
                            </li> --}}
                        </ul>
                    </div>
                    {{else}}
                    <a href="/login" class="navbar-nav">Login</a>
                    {{/if}}
                </div>
            </nav>
        </div>
    </div>
</header>