<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header active_products=true}}
    <div class="container" style="margin-bottom:50px;">
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3"
                                style="text-align: center; font-size: 36px; font-weight: 600; background-color: #913f9e; color: #fff">
                                My Profile
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Name</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Email</td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Phone</td>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Address</td>
                            <td>{{address}}</td>
                        </tr>
                    </tbody>
                </table>
                {{#or (not name) (not phone) (not address) (not email)}}
                <div class="alert alert-danger" role="alert">
                    You should fill in your information
                </div>
                {{/or}}
                <a href="/users/edit_profile" class="btn btn-primary">Edit Profile</a>
            </div>

            <div class="col-6">
                <img src="/assets/images/product3.jpg" alt="" class="rounded mx-auto d-block" style="width: 200px;">
            </div>
        </div>
    </div>

    {{> footer}}

    {{> importJS}}
</body>

</html>