<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header active_products=true}}
    <div class="container" style="margin-bottom:50px;">
        {{!-- <div class="breadcrumb">
            <div class="container">
                <a class="breadcrumb-item" href="index">Home</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </div>
        </div> --}}


        <table class="table" id="cart-table">
            <thead>
                <tr>
                    <th class="table-secondary" scope="col">Serial</th>
                    <th class="table-secondary" scope="col">Book's name</th>
                    <th class="table-secondary" scope="col">Price</th>
                    <th class="table-secondary" scope="col">Amount</th>
                    <th class="table-secondary" scope="col">Sum</th>
                </tr>
            </thead>
            <tbody>
                {{!-- generate when cart has items inside --}}
            </tbody>
        </table>
        <a href="/products"><button class="btn btn-primary" style="margin-bottom:50px;">Continue shopping</button></a>

        <div class="col-6">
            <form action="">
                <div class="form">
                    <table class="table" id="bill-table">
                        <thead>
                            <tr>
                                <span style="font-weight: 500; font-size:40px; margin-left:10px">Bill</span>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Receiver</th>
                                <td><input type="text" name="name" value="{{currentUser.name}}" style="border-radius:3px; padding: 5px 5px; border: 0.5px solid #212121;"></td>
                            </tr>
                            <tr>
                                <th scope="row">Your Phone</th>
                                <td><input type="text" name="name" value="{{currentUser.phone}}" style="border-radius:3px; padding: 5px 5px; border: 0.5px solid #212121;"></td>
                            </tr>
                            <tr>
                                <th scope="row">Your address</th>
                                <td><input type="text" name="name" value="{{currentUser.address}}" style="border-radius:3px; padding: 5px 5px; border: 0.5px solid #212121;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><label>Bookselling price</label></th>
                                <td><input name="bookPrice" value="" readonly style="border: none; font-size: 19px; color: #454545dc;"></td>
                            </tr>
                            <tr>
                                <th scope="row">Transport fee</th>
                                <td><input name="transportFee" value="3" readonly style="border: none; font-size: 19px; color: #454545dc;"></td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td><input name="totalPrice" value="" readonly style="border: none; font-size: 19px; color: #454545dc;"></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <a href="{{#if currentUser}}/products{{else}}/login{{/if}}"><button
                            class="btn btn-primary">Checkout</button></a>
            </form>
        </div>
    </div>

    {{> footer}}

    {{> importJS}} 
</body>

</html>